.transaction-history {
  min-width: 300px;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

th {
  background-color: gray;
}

th, td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 16px;
}

tr:nth-child(even) {
  background-color: rgb(192, 172, 172);
}

tr:hover {
  background-color: rgb(151, 137, 137);
}
